/* main styles */

header {
  top: 0px;
  margin: 0;
  text-align: center;
  padding: 15pt;
  background: #13104e;
  background: linear-gradient(90deg, #080549 0%, #1b1b55 35%, #afb94d 100%);
 
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* class styles  */
/* Main flexbox row */

.title{
    font-size: 35pt;
    font-family: "arial, sans-serif";
    color: #ffffff;
} 

.box-row {
  display: flex;
  width: 100%;
  margin-bottom: 2rem;
}

/*  Search */

.left-nav {
  width: 20%;
  margin-right: 2rem;
  margin-left: 1rem;
}

.search-box {
  min-width: 100%;
}

.search-btn {
  min-width: 100%;
  padding: 1rem;
}

.search-history {
  border-top: 0.07rem solid #000000;
  margin-top: 2rem;
}

.city-button {
  display: block;
  background-color: #000000;
  color: #fdfdff;
  border: none;
  border-radius: 0.5rem;
  font-weight: bold;
  width: 140px;
  height: 45px;
  margin-left: 30%;
}

/*  Main Weather Box */

.current-weather {
  border: #000000 0.07rem solid;
  margin-top: 1rem;
  margin-right: 4rem;
  background-color: #a2a2a8;
}

.current-weather li,
h1 {
  margin: 1.2rem;
  font-size: 1.2rem;
  list-style-type: none;
}

.current-weather h1 {
  display: inline;
  font-size: 2rem;
  margin-top: 0;
}

.daily-forcast-col {
  min-width: 80%;
}

.five-day-row {
  display: flex;
  flex-wrap: wrap;
}

.day {
  width: 12rem;
  height: 16rem;
  margin-left: 1rem;
  background-color: #e9e3b1;
  color: #020202;
}

.day li {
  margin-bottom: 1.2rem;
  margin-left: 0.5rem;
  list-style-type: none;
}

.day:first-child {
  margin-left: 0;
}

.hide {
  display: none;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  clear: both;
  font-family: "Arial", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    sans-serif;
  text-align: center;
}

.footer h2 {
  font-size: 20px;
}

/* id styles */

#main-box {
  min-width: 70%;
  height: 20rem;
}

/* search id */

#cityLabel {
  font-size: 1.5rem;
  font-weight: bolder;
}

#city-search {
  width: 85%;
  font-size: 12pt;
  padding: 1rem;
  margin-bottom: 0.5rem;
}

#search-id {
  background-color: #b15050;
  border: none;
  border-radius: 0.5rem;
  color: #182541;
  font-weight: bold;
}

#search-id:hover {
  background-color: #324dc2;
  color: #e97979;
  font-weight: bold;
}

#search-history-list button {
  margin-top: 0.6rem;
  border: none;
  border-radius: 0.5rem;
}

#search-history-list button:hover {
  box-shadow: 0px 16px 11px 0 #000, 0 12px 5px 0px #ccc;
  background-color: rgb(186, 184, 184);
}

#five-day-forecast {
  font-size: 1.5rem;
  font-weight: bolder;
}

/* Media changes */

@media only screen and (max-width: 1280px) {
  .day {
    width: 10rem;
    height: 14rem;
    margin-left: 0.5rem;
    background-color: rgb(61, 69, 116);
    color: white;
  }
}

@media only screen and (max-width: 1045px) {
  .day:first-child {
    margin-left: 0.5rem;
  }

  .day {
    width: 10rem;
    height: 14rem;
    margin: 0.5rem;
    background-color: rgb(61, 69, 116);
    color: white;
  }
}
